# Python
__pycache__
*.pyc
*.egg-info
dist

# evaluation
./eval

# Log
*.log
*.log.*
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json
# Editor
.idea
*.swp
.vscode

vllm/
env/
# Other
.DS_Store
wandb
output
visualize

./eval/
checkpoints/

.ipynb_checkpoints
chunyl_scripts
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
ckpt
datasets
output